.App {
  text-align: center;
}

.App-logo {
  height: 64px;
}

.App-body {
  background-color: #27272a;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(161, 161, 170);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.App-link {
  color: #61dafb;
  font-size: 14px;
}

.grid {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.grid-item {
  margin-bottom: 8px;
}
